# Core Bot & Web Server
flask==3.0.3
gunicorn==22.0.0

# Data & Analysis
yfinance==0.2.40
pandas==2.0.3
pandas-ta==0.3.14b0
numpy==1.24.4

# Charting
mplfinance==0.12.10b0
matplotlib==3.8.4

# Async HTTP Client
aiohttp==3.9.5

# Utilities

python-dotenv==1.0.1

cython==0.29.36
python-3.11.6

setuptools==69.5.1
wheel==0.43.0

